
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- converted from rtf -->
<style>
    <!-- .EmailQuote { margin-left: 1pt; padding-left: 4pt; border-left: #800000 2px solid; } -->
</style>
</head>
<body>
<font face="Calibri" size="2">
    <span style="font-size:20pt;color:red">
        Welcome to PlateUp by Team 5! Congratulations on taking your first step towards making your cooking journey easier. You will need the following information for future access to your account. <br>
        <br>
        Your email: %s <br>
        Your userID: %s <br>
        Your password: %s <br>
        <br>
        Click HERE to change your password. <br>
        <br>
        You will need your user ID and password to sign in whenever you use your PlateUp account. Do not share your password with anyone.
        Happy Cooking!
    </span>
</font>
</body>
</html>